####################################################
# Python
####################################################
__pycache__/
*.py[cod]

####################################################
# Backup Files
####################################################
*.bak
*.orig
*.tmp

####################################################
# Ignore ALL checkpoints
####################################################
checkpoints/

####################################################
# IDE
####################################################
.vscode/
.idea/

####################################################
# OS Files
####################################################
.DS_Store
Thumbs.db